CHAT GROUP

<div class="chat">
   <div class="sidebar">
      <div class="search">
         <input type="text" placeholder="Cari person...">
         <i class="fa fa-search"></i>
      </div>
      <div class="contacts">
         <ul>
            {{#each chats}}
            <li id="{{this.id}}">
               <!-- Using an onclick event to call loadMessages with the chat id -->
               <a href="javascript:void(0);" onclick="loadMessages({{this.id}})">
                  <img src="{{this.avatar}}" alt="Avatar">
                  <div class="contact">
                     <div class="name">{{this.name}}</div>
                     <div class="message">{{truncate this.lastmessage 10}}</div>
                  </div>
               </a>
            </li>
            {{/each}}
         </ul>
      </div>
   </div>
   <div class="content">
      <div class="message-header">
         <div class="user-info">
            <img src="img/avatar.png" id="chat-avatar">
            <div class="user">
               <div class="name" id="chat-name">Select a chat</div>
               <div class="time" id="chat-last-online">-</div>
            </div>
         </div>
         <div class="actions">
            <ul>
               <li><a href="#"><i class="fa fa-info-circle"></i></a></li>
               <li><a href="#"><i class="fa fa-ellipsis-v"></i></a></li>
            </ul>
         </div>
      </div>
      <div class="message-content" id="chat-messages"></div>
      <div class="message-form">
         <ul>
            <li class="emoji-btn">
               <a href="">
               <i class="fa fa-laugh"></i>
               </a>
            </li>
            <li class="input">							
               <input type="text" placeholder="Ketikkan pesan..">
            </li>
            <li class="sound-btn">
               <a href="">
               <i class="fa fa-microphone"></i>
               </a>
            </li>
            <li class="image-btn">
               <a href="">
               <i class="fa fa-image"></i>
               </a>
            </li>
         </ul>
      </div>
   </div>
</div>

<div class="form-group">
   
   <br>
   <div class="col-12">
      <button id="get-content" type="button" name="openai-submit" class="btn btn-secondary">Get Content</button>
   </div>
   
   <div id="chat-content"></div>
   <div id="last-sender"></div>

   <br>
   <label>Content Recommendation:</label>

   <div class="col-12">
      <button id="response-recommendation" type="button" name="response-recommendation" class="btn btn-secondary">Get Recommendation</button>
   </div>
   <br>
   <div class="css3-spinner" style="--cnvs-loader-color:var(--cnvs-themecolor); display: none;">
      <div class="css3-spinner-rect1"></div>
      <div class="css3-spinner-rect2"></div>
      <div class="css3-spinner-rect3"></div>
      <div class="css3-spinner-rect4"></div>
      <div class="css3-spinner-rect5"></div>
   </div>
   <br>
   <textarea name="openai-output" id="openai-output" class="form-control required" cols="30" rows="5">{{message}}</textarea>
</div>

